<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<ul  style='list-style-type: none;'>
<!--{% if site.github_username %}
  <li style='float: right;'><a href="https://github.com/{{ site.github_username }}"> <i class="fa fa-github"></i> GitHub </a> </li>
{% endif %}-->
<!--<li> <a>@copy; lumiere000 | All Rights Reserved. </a> </li> -->
<footer>
  A geek does not have to be smart. We interested in things that others are not interested in, we know a lot about our interests.
    &copy; {{ site.time | date: '%Y' }}. All rights reserved.
</footer>
</ul>
