<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} lumiere000 </title>

<link rel="stylesheet" href="/blog/css/styles.css" />

</head>

<body>
 
  <div id="main">
 
    <header>
      <h1> MyBlog </h1>
    <header>

{% include navigation.html%}	    
<br>

    {{ content }}


      
{% include footer.html%}      

<!--      <footer>
      <p>@copy; lumiere000 | All Rights Reserved. </p>
    </footer>
-->
      

      
      
      
      
      
      
      </div>
</body>
</html>
