<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  {% include top.html %}
  <body class="default-page page-{{ page.title | downcase | replace:' ','_' | replace: '!',''  }}">

  <div class="container">
  <div class="content" id="content">
  <header class="masthead">
  <h3 class="masthead-title">
  <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
  </h3>
  <small>{{ site.tagline }}</small>
  </header>
  {% include navigation.html%}
  <br>
  <hr> {{ content }} <hr>
  </div>
  </div>

  {% include end.html %}
  {% include analytics.html %}
  {% include footer.html %}
  </body>
  </html>
